<layout class="show-blank-view">
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>
	
	<div class="work">
		<sidebar data-click="click-tree" data-area="sidebar">
			<div class="sidebar-wrapper">
				@import "view-sidebar.htm"
			</div>
		</sidebar>
		<content>
			<div class="query-input" data-area="query">
				<textarea>@import "view-query-input.htm"</textarea>
			</div>
			<div class="query-result" data-area="result">
				@import "view-query-result.htm"
			</div>
		</content>
	</div>
</layout>
