
<div class="leaf">
	<i class="icon-arrow"></i>
	<i class="icon-servers"></i>
	<span><i>Server</i></span>
</div>
<div class="leaf">
	<i class="icon-arrow"></i>
	<i class="icon-servers"></i>
	<span><i>Server</i></span>
</div>
<div class="leaf">
	<i class="icon-arrow"></i>
	<i class="icon-database"></i>
	<span><i>Database</i></span>
</div>
<div class="children">
	<div class="leaf">
		<i class="icon-arrow"></i>
		<i class="icon-tables"></i>
		<span><i>Tables</i></span>
	</div>
	<div class="leaf">
		<i class="icon-arrow"></i>
		<i class="icon-table"></i>
		<span><i>Table 1</i></span>
	</div>

	<div class="leaf active">
		<i class="icon-arrow"></i>
		<i class="icon-table"></i>
		<span><i>Table 2</i></span>
	</div>
	<div class="children">
		<div class="leaf">
			<i class="icon-blank"></i>
			<i class="icon-column"></i>
			<span><i>Column 1</i></span>
		</div>
		<div class="leaf">
			<i class="icon-blank"></i>
			<i class="icon-column"></i>
			<span><i>Column 2</i></span>
		</div>
		<div class="leaf">
			<i class="icon-blank"></i>
			<i class="icon-column"></i>
			<span><i>Column 3</i></span>
		</div>
		<div class="leaf">
			<i class="icon-blank"></i>
			<i class="icon-column"></i>
			<span><i>Column 4</i></span>
		</div>
	</div>
	
	<div class="leaf">
		<i class="icon-arrow"></i>
		<i class="icon-table"></i>
		<span><i>Table 3</i></span>
	</div>
</div>
