
<div class="leaf">
	<i class="icon-arrow"></i>
	<i class="icon-database"></i>
	<span>Database</span>
</div>
<div class="children">
	<div class="leaf">
		<i class="icon-arrow"></i>
		<i class="icon-table"></i>
		<span>Table 1</span>
	</div>

	<div class="leaf">
		<i class="icon-arrow"></i>
		<i class="icon-table"></i>
		<span>Table 2</span>
	</div>
	<div class="children">
		<div class="leaf">
			<i class="icon-arrow"></i>
			<i class="icon-column"></i>
			<span>Column 1</span>
		</div>
		<div class="leaf">
			<i class="icon-arrow"></i>
			<i class="icon-column"></i>
			<span>Column 2</span>
		</div>
		<div class="leaf">
			<i class="icon-arrow"></i>
			<i class="icon-column"></i>
			<span>Column 3</span>
		</div>
		<div class="leaf">
			<i class="icon-arrow"></i>
			<i class="icon-column"></i>
			<span>Column 4</span>
		</div>
	</div>
	
	<div class="leaf">
		<i class="icon-arrow"></i>
		<i class="icon-table"></i>
		<span>Table 3</span>
	</div>
</div>
